# ARITHMETIC OPERATION

In [1]:
import pandas as pd

In [3]:
var=pd.DataFrame({"a":[1,2,3,4,5],"b":[11,12,13,14,15]})

In [4]:
var

   a   b
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [6]:
var["a"]+var["b"]

0    12
1    14
2    16
3    18
4    20
dtype: int64

In [7]:
var["c"]=var["a"]+var["b"]
print(var)

   a   b   c
0  1  11  12
1  2  12  14
2  3  13  16
3  4  14  18
4  5  15  20

In [8]:
var["d"]=var["a"]*var["c"]

In [9]:
print(var)

   a   b   c    d
0  1  11  12   12
1  2  12  14   28
2  3  13  16   48
3  4  14  18   72
4  5  15  20  100

In [11]:
var["test"]=var["a"]*var["b"]<=30

In [12]:
print(var)

   a   b   c    d   test
0  1  11  12   12   True
1  2  12  14   28   True
2  3  13  16   48  False
3  4  14  18   72  False
4  5  15  20  100  False