In [1]:
import pandas as pd

In [2]:
l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
var

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [3]:
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [4]:
d={"a":[1,2,3,4,5],"b":[2,4,5,6,7],"c":[1,2,3,4,5]}
var1=pd.DataFrame(d,columns=['c','a'])
var1

   c  a
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [5]:
print(type(var1))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(var1["c"][2])

3

In [8]:
l1=[[1,2,3,4,5],[2,3,4,5,6],[3,4,5,6,7]]
var2=pd.DataFrame(l1)
print(var2)

   0  1  2  3  4
0  1  2  3  4  5
1  2  3  4  5  6
2  3  4  5  6  7

In [9]:
dr={"s":pd.Series([1,2,3,4]),"r":pd.Series([2,3,4,5])}
sr=pd.DataFrame(dr)
print(sr)

   s  r
0  1  2
1  2  3
2  3  4
3  4  5